
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
<div style="position: fixed; left: 0px; right: 0px; bottom: 0px; top: 0px; margin: auto; border: 1px solid; Width: 400px; height: 500px; background: cadetblue">
    <div style="position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; margin: auto;  Width: 350px; height: 450px">

        <h3 style="text-align:center">Login</h3>

        @*<h4 style="text-align:center;color:#808080">Have an account?</h4>
            <input style="width:98%;height:20px" placeholder="User Name" /><br />
            <input style="width:98%;height:20px;margin-top:5px" placeholder="Password" />
            <input type="submit" value="Log In" style="width:100%;height:20px;margin-top:5px" />*@

        <form method="post" action="@Url.Action("Login","Auth")">
            <div data-mdb-input-init class="form-outlin mb-4">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email">

                @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <button type="submit" action="@Url.Action("Login", "Auth")" data-mdb-button-init class="btn btn-primary" style="width:100%">Submit </button>
            <div>@ViewBag.Message</div>
        </form>
        <div>
            <a href="ForgotPassword">Forgot Password?</a>
        </div>
    </div>

</div>

<div>

</div>








